*{
    color: white;
}
body {
    scroll-behavior: smooth;
    color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 24px;
}

header {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100vh;
    background-image: url('./assets/img/1_hero/JPG/hero_bg.jpg');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 112px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 24px;
}

section {
    width: 100%;
    margin-top: 120px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    list-style: none;
    padding: 24px;
}

a{
    text-decoration: none;
}

h1 {
    margin:0;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 96px;
    color: white;
}

h2 {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 80px;
    color: #9F0908;
}

h3 {
    margin: 0;
    font-family: 'Economica', sans-serif;
    font-weight: bold;
    font-size: 56px;
    color: black;
}

table {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: white;
}

dl {
    display: flex;
    justify-content: space-between;
}

dt {
    color: #675E54;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 32px;
}

dd {
    color: #675E54;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 32px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #0A141E;
    width: 100%;
    height: 144px;
}

.phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #9F0908; 
    border-style: solid; 
    padding: 5px; 
    border-radius: 10px;
}

.phone:hover {
        background-color: #4b0303; 
}

.img {
    background-repeat: no-repeat;
    background-position: center ;
    background-size: contain;
}

#logo {
    background-image: url('./assets/img/1_hero/PNG/sakura_logo.png');
    height: 64px;
    width: 64px;
}

#welcome {
    margin-top: 180px;
}

#title {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 96px;
}

#subtitle {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 24px;
}

.order_title {
    color: black;
    font-family: 'Economica', sans-serif;
    font-weight: bold;
    font-size: 56px;
}

#order_article {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 64px;
}

.order_component {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

#order_img_1 {
    width: 128px;
    height: 128px;
    background-image: url('./assets/img/2_section_how_to_order/PNG/noodle.png');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: contain;
}

#order_img_2 {
    width: 128px;
    height: 128px;
    background-image: url('./assets/img/2_section_how_to_order/PNG/broth.png');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: contain;
}

#order_img_3 {
    width: 128px;
    height: 128px;
    background-image: url('./assets/img/2_section_how_to_order/PNG/egg.png');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: contain;
}

#our_menu {
    width: 100%;
    height: 100%;
    background-image: url('./assets/img/3_section_our_menu/JPG/section_our_menu_bg.jpg');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
}


.menu_img {
    width: 352px;
    height: 352px;
    margin-right: 80px;
}


#location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 8px;
}

#address {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 24px;
}

#map {
    width: 100%;
    height: 100%;
}

#footer_left {
    display: flex;
    align-items: center;
    height: 44px;
}

#footer_right {
    display: flex;
    align-items: center;
    height: 44px;
}

.footer_right_component{
    display: flex;
    justify-content: space-around;
    margin-right: 12px
}







